# Books Recommender system that uses clustering
Collaborative filtering
- Dataset :- https://www.kaggle.com/ra4u12/bookrecommendation

In [1]:
# Importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#books = pd.read_csv('data/BX-Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')


import csv

with open('data/BX-Books.csv', 'r', encoding='latin-1') as file:
    reader = csv.reader(file, delimiter=';')
    lines = []
    for i, line in enumerate(reader):
        if len(line) != 8:
            print(f"Skipping line {i + 1}: {line}")
            continue
        lines.append(line)

    books = pd.DataFrame(lines[1:], columns=lines[0])

Skipping line 6452: ['0735201994', 'Peterman Rides Again: Adventures Continue with the Real \\J. Peterman\\" Through Life &amp', ' the Catalog Business"', 'John Peterman', '2000', 'Prentice Hall Art', 'http://images.amazon.com/images/P/0735201994.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0735201994.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0735201994.01.LZZZZZZZ.jpg']
Skipping line 43667: ['0330482750', 'Three Novels: \\A Strange and Sublime Address\\"', ' \\"Afternoon Raag\\"', '\\"Freedom Song\\""', 'Amit Chaudhuri', '2001', 'Pan Macmillan', 'http://images.amazon.com/images/P/0330482750.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0330482750.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0330482750.01.LZZZZZZZ.jpg']
Skipping line 51751: ['0413326608', 'Upon my word!: More stories from \\My word!\\" a panel game devised by Edward J. Mason &amp', ' Tony Shryane"', 'Frank Muir', '1974', 'Eyre Methuen', 'http://images.amazon.com/images/P/0413326608.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0413326608.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0413326608.01.LZZZZZZZ.jpg']
Skipping line 92038: ['0440500702', 'Schrodinger\'s Cat Trilogy : \\The Universe Next Door\\", \\"The Trick Top Hat\\", &amp', ' \\"The Homing Pigeons\\""', 'ROBERT A. WILSON', '1988', 'Dell', 'http://images.amazon.com/images/P/0440500702.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0440500702.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0440500702.01.LZZZZZZZ.jpg']
Skipping line 104319: ['0373166982', 'Please Say \\I Do\\"  (Three Weddings &amp', ' A Hurricane) (Harlequin American Romance, No 698)"', 'Karen T. Whittenburg', '1997', 'Harlequin', 'http://images.amazon.com/images/P/0373166982.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0373166982.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0373166982.01.LZZZZZZZ.jpg']
Skipping line 121768: ['0894805959', 'The Best of the Journal of Irreproducible Results: \\Improbable Investigations &amp', ' Unfounded Findings\\""', 'George H. Scherr', '1989', 'Workman Publishing', 'http://images.amazon.com/images/P/0894805959.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0894805959.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0894805959.01.LZZZZZZZ.jpg']
Skipping line 144058: ['8423920143', 'GuÃ\xada del lector del \\Quijote\\": Ensayo psicolÃ³gico sobre el \\"Quijote\\" (Selecciones austral ', ' 14 : Ensayo)"', 'Salvador de Madariaga', '1976', 'Espasa-Calpe', 'http://images.amazon.com/images/P/8423920143.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/8423920143.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/8423920143.01.LZZZZZZZ.jpg']
Skipping line 150789: ['034050823X', 'The Double Detective: \\The Blank Page\\" &amp', ' \\"A Fix Like This\\" (Crime Club)"', 'K.C. Constantine', '1990', 'Hodder &amp; Stoughton General Division', 'http://images.amazon.com/images/P/034050823X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/034050823X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/034050823X.01.LZZZZZZZ.jpg']
Skipping line 157128: ['039482492X', 'C is for Clown: A Circus of \\C\\" Words, (Bright &amp', ' early books for beginning beginners)"', 'Stan Berenstain', '1972', "Random House Children's Books", 'http://images.amazon.com/images/P/039482492X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/039482492X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/039482492X.01.LZZZZZZZ.jpg']
Skipping line 180189: ['0553570722', '\\R\\" for Revenge: Written by Kate William ', ' Created by Francine Pascal (Sweet Valley High Super Thriller, No 24)"', 'Francine Pascal', '1997', 'Bantam Books', 'http://images.amazon.com/images/P/0553570722.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0553570722.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0553570722.01.LZZZZZZZ.jpg']
Skipping line 185738: ['096401811X', 'Solid as a rock \\I\\" stand: Inspirational poetry &amp', ' short stories"', 'Luella Hill', '1998', 'Straight from the Heart Associates', 'http://images.amazon.com/images/P/096401811X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/096401811X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/096401811X.01.LZZZZZZZ.jpg']
Skipping line 209388: ['085409878X', '\\Pie-powder\\"', ' being dust from the law courts,"', 'John Alderson Foote', '1973', 'EP Publishing', 'http://images.amazon.com/images/P/085409878X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/085409878X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/085409878X.01.LZZZZZZZ.jpg']
Skipping line 209552: ['078946697X', 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\\";Michael Teitelbaum"', '2000', 'DK Publishing Inc', 'http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/078946697X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/078946697X.01.LZZZZZZZ.jpg']
Skipping line 220626: ['1874100055', '\\The Dead Donkey\\" &amp', ' \\"The Guillotined Woman\\""', 'Jules Janin', '0', 'Gargoyle Press', 'http://images.amazon.com/images/P/1874100055.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/1874100055.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/1874100055.01.LZZZZZZZ.jpg']
Skipping line 220746: ['2070426769', 'Peuple du ciel, suivi de \'Les Bergers\\";Jean-Marie Gustave Le ClÃ?Â©zio"', '2003', 'Gallimard', 'http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/2070426769.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/2070426769.01.LZZZZZZZ.jpg']
Skipping line 221693: ['0789466953', 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\\";James Buckley"', '2000', 'DK Publishing Inc', 'http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0789466953.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0789466953.01.LZZZZZZZ.jpg']
Skipping line 227933: ['0006479839', 'The LaVyrle Spencer Collection:  Three Classic Love Stories to Treasure (\\Separate Beds\\"', ' \\"Forsaking All Others\\"', ' &amp', ' \\"A Promise to Cherish\\")"', 'LaVyrle Spencer', '1995', 'HarperCollins Publishers', 'http://images.amazon.com/images/P/0006479839.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0006479839.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0006479839.01.LZZZZZZZ.jpg']
Skipping line 228957: ['0807735132', '\\The Having of Wonderful Ideas\\" &amp', ' Other Essays on Teaching &amp', ' Learning"', 'Eleanor Duckworth', '1996', 'Teachers College Press', 'http://images.amazon.com/images/P/0807735132.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0807735132.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0807735132.01.LZZZZZZZ.jpg']
Skipping line 245933: ['0394720784', '\\Your Isadora\\": The love story of Isadora Duncan &amp', ' Gordon Craig"', 'Isadora Duncan', '1976', 'Vintage Books', 'http://images.amazon.com/images/P/0394720784.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0394720784.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0394720784.01.LZZZZZZZ.jpg']
Skipping line 251296: ['0723245827', '\\The World of Peter Rabbit &amp', ' Friends\\" Complete Story Collection"', 'Beatrix Potter', '1999', 'Frederick Warne', 'http://images.amazon.com/images/P/0723245827.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/0723245827.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/0723245827.01.LZZZZZZZ.jpg']
Skipping line 259941: ['1581801653', 'Artist\\s Photo Reference: Water &amp', ' Skies (Artists Photo Reference)"', 'Bart Rulon', '2002', 'North Light Books', 'http://images.amazon.com/images/P/1581801653.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/1581801653.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/1581801653.01.LZZZZZZZ.jpg']
Skipping line 261529: ['006263545X', 'Ludwig van Beethoven: Play by Play/Symphony No.3 \\Eroica\\"', ' The \\"Egmont\\" Overture"', 'Alan Rich', '1995', 'Harpercollins', 'http://images.amazon.com/images/P/006263545X.01.THUMBZZZ.jpg', 'http://images.amazon.com/images/P/006263545X.01.MZZZZZZZ.jpg', 'http://images.amazon.com/images/P/006263545X.01.LZZZZZZZ.jpg']

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.iloc[237]['Image-URL-L']

'http://images.amazon.com/images/P/0671027387.01.LZZZZZZZ.jpg'

In [76]:
# !curl "http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg" --out.png
# !curl http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg --output some.jpg

curl: option --out.png: is unknown
curl: try 'curl --help' for more information
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   919  100   919    0     0   3273      0 --:--:-- --:--:-- --:--:--  3403

In [77]:
books.shape

(271357, 6)

In [78]:
books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'image_url'], dtype='object')

#### Conclution:
Here Image URL columns is important for the poster. So, we will keep it

In [80]:
books = books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

KeyError: "['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L'] not in index"

In [ ]:
books.head()

In [ ]:
# Lets remane some wierd columns name
books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [ ]:
books.head()

In [12]:
# Now load the second dataframe

#users = pd.read_csv('data/BX-Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')


try:
    users = pd.read_csv('data/BX-Users.csv', sep=';', encoding='latin-1')
except pd.errors.ParserError as e:
    print(f"Error parsing CSV file: {e}")
    users = None

In [13]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [14]:
users.shape

(278858, 3)

In [15]:
# Lets remane some wierd columns name
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [16]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [17]:
# Now load the third dataframe

#ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')


try:
    ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=';', encoding='latin-1')
except pd.errors.ParserError as e:
    print(f"Error parsing CSV file: {e}")
    ratings = None

In [18]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [19]:
ratings.shape

(1149780, 3)

In [20]:
# Lets remane some wierd columns name
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

In [21]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

### Conclution:
Now we have 3 dataframes
- books
- users
- ratings

In [22]:
print(books.shape, users.shape, ratings.shape, sep='\n')

(271357, 6)
(278858, 3)
(1149780, 3)

In [23]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [24]:
ratings['user_id'].value_counts().shape

(105283,)

In [25]:
ratings['user_id'].unique().shape

(105283,)

In [26]:
# Lets store users who had at least rated more than 200 books
x = ratings['user_id'].value_counts() > 200

In [27]:
x[x].shape

(899,)

In [28]:
y= x[x].index

In [29]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [30]:
ratings = ratings[ratings['user_id'].isin(y)]

In [31]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [32]:
ratings.shape

(526356, 3)

In [33]:
# Now join ratings with books

ratings_with_books = ratings.merge(books, on='ISBN')

In [34]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [35]:
ratings_with_books.shape

(487668, 8)

In [36]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [37]:
number_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [38]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [39]:
number_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [40]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [41]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [42]:
final_rating.shape

(487668, 9)

In [43]:
# Lets take those books which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [44]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [45]:
final_rating.shape

(61853, 9)

In [46]:
# lets drop the duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [47]:
final_rating.shape

(59850, 9)

In [48]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')

In [49]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
book_pivot.shape

(742, 888)

In [51]:
book_pivot.fillna(0, inplace=True)

In [52]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training Model

In [53]:
from scipy.sparse import csr_matrix

In [54]:
book_sparse = csr_matrix(book_pivot)

In [55]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [56]:
# Now import our clustering algoritm which is Nearest Neighbors this is an unsupervised ml algo
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [57]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [58]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [59]:
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [60]:
print(suggestion)

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [61]:
book_pivot.iloc[241,:]

user_id
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Sorcerer's Stone (Book 1), Length: 888, dtype: float64

In [62]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [63]:
book_pivot.index[3]

'4 Blondes'

In [64]:
#keeping books name
book_names = book_pivot.index

In [65]:
book_names[2]

'2nd Chance'

In [66]:
np.where(book_pivot.index == '4 Blondes')[0][0]

3

# find url

In [67]:
# final_rating['title'].value_counts()
ids = np.where(final_rating['title'] == "Harry Potter and the Chamber of Secrets (Book 2)")[0][0]

In [68]:
final_rating.iloc[ids]['image_url']

'http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg'

In [69]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [70]:
book_name[0]

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [71]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [72]:
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439136369.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/043936213X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440115450.01.LZZZZZZZ.jpg

In [73]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

# Testing model

In [74]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [75]:
book_name = "Harry Potter and the Chamber of Secrets (Book 2)"
recommend_book(book_name)

You searched 'Harry Potter and the Chamber of Secrets (Book 2)'

The suggestion books are:

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive
The Cradle Will Fall